.container {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  align-items: center;
  color: #fff;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.container img {
  width: 100%;
  margin-bottom: 5px;
}

.container img {
  border-radius: 15px;
}

.p {
  font-size: 16px;
  text-align: center;
  color: black;
}